<section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <!-- <li id="">
                <a href="#">
                    <img src="{{STATIC_URL}}img/ajax-loaders/5.gif"  style="display:none"/>
                    <i class="fa fa-fw fa-info"></i> <span></span>
                </a>
            </li>
            <li id="">
                <a href="#">
                    <img src="{{STATIC_URL}}img/ajax-loaders/5.gif"  style="display:none"/>
                    <i class="fa fa-fw fa-lock"></i> <span></span>
                </a>
            </li> -->
        </ul>
</section>